.error {
  background: red;
  padding: 0.8em;
}

pre.error {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a {
  text-decoration: none; }

a img {
  border: 0; }

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #fff;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: inherit;
  line-height: 1.3;
  color: #000; }

.main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  bottom: 60px;
  margin: 0;
  width: 10000%; }

footer {
  border-top: 1px solid lightgray;
  box-shadow: none;
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  padding: 10px;
  font-size: 80%;
  z-index: 1000;
  color: gray; }

footer form, .footer-item {
  display: inline;
}

.item-placeholder {
  border: 2px dotted #bbb;
  background: #eee;
}

.footer-item { margin-left: 8px; }

.neighbor {
  float: right;
  padding-left: 8px;
  width: 16px;
}

img.remote,
.neighbor img {
  width: 16px;
  height: 16px;
  background-color: #cccccc;
}

.neighbor .wait {
  -webkit-animation: rotatecw 2s linear infinite;
  -moz-animation: rotatecw 2s linear infinite;
  animation: rotatecw 2s linear infinite;
}
.neighbor .fetch {
  -webkit-animation: rotatecw .5s linear infinite;
  -moz-animation: rotatecw .5s linear infinite;
  animation: rotatecw .5s linear infinite;
}
.neighbor .fail {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}

@-webkit-keyframes rotatecw { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes rotatecw { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes rotatecw { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }


header {
  top: 0; }

footer {
  bottom: 0; }

.twins,
.journal,
.footer {
  min-height: 1em;
  opacity: 1;
}
.twins:hover,
.journal:hover,
.footer:hover {
  opacity: 1;
}

.story {
  padding-bottom: 5px; }

.story code {
  background: rgba(0,0,0,0.04);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.story blockquote {
  margin-left: 0;
  padding: 0 10px;
  color: #777;
  border-left: 4px solid gray;
}

.data,
.chart,
.image {
  overflow: auto;   /* clearfix hack */
  float: right;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  background: gray;
  padding: 0.8em;
  width: 42%;
 }

.image .thumbnail {
  width: 100%; }

.journal {
  /*width: 420px;*/
  overflow-x: hidden;
  margin-top: 2px;
  clear: both;
  background-color: white;
  border: 1px solid lightgray;
  overflow: auto;
  padding: 1px;
}

.journal:hover {
  border: 1px solid black;
}

.journal:hover .action {
  color: black;
}

.action.fork {
  color: black; }

.action {
  font-size: 0.9em;
  background-color: white;
  background-size: 24px 24px;
  color: lightgray;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  margin: 3px;
  float: left;
  width: 18px; }

.action.separator {
  background-color: white;
}

.control-buttons {
  float: right;
  position: relative;
  right: 5px;
  overflow-x: visible;
  white-space: nowrap; }

.button {
  /*from bootstrap*/
  background: lightgray;
  border: 0;

  /*custom*/
  display: inline-block;
  white-space: normal;
  position: relative;
  top: 2px;
  left: 3px;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  margin-bottom: 2px;
  color: white;
  width: 18px; }

.button:hover {
  background: black;
  color: white;
  text-shadow: none;
  box-shadow: none; }

.button:active {
  box-shadow: none; }


.target {
  background-color: #ff0 !important; }

.report p,
.factory p,
.data p,
.chart p,
.footer a,
.image p,
p.caption {
  text-align: center;
  margin-bottom: 0;
  color: gray;
  font-size: 70%; }

.twins p {
  color: gray;
}

image.remote {
  width:16px;
  height:16px;
}

p.readout {
  text-align: center;
  font-size: 300%;
  color: black;
  font-weight: bold;
  margin: 0; }

.footer {
  clear: both;
  margin-bottom: 1em;
  padding-bottom: 500px;
}

.page {
  float: left;    /* inline-block preferred? */
  margin: 8px;
  /* padding: 0 31px; */
  width: 490px;
  background-color: white;
  height: 100%;
  overflow: auto;
  border: 1px dotted gray;
  box-shadow: none; }
  .page.active {
    box-shadow: none;
    border: 1px solid black;
    z-index: 10; }

.page.plugin > .paper {
  box-shadow: inset 0px 0px 40px 40px lime;
}

.page.local > .paper {
  box-shadow: inset 0px 0px 40px 0px orange;
}

.page.remote > .paper {
  box-shadow: inset 0px 0px 40px 0px lightblue;
}

.paper {
  /*width: 430px;*/
  padding: 30px;
  min-height: 100%;
}

.factory,
textarea {
  font-size: inherit;
  width: 100%;
  min-height: 150px; }

.clickable:hover {
  cursor: pointer; }

@media all and (max-width: 490px) {
  .page {
    width: 1%;
    margin: 8px;
    padding: 0; }
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: block;
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  background-color: #eeeeee;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #cccccc;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 6px; }

.factory {
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid lightgray;}
  .factory p {
    padding: 10px; }

.bytebeat .play {
  display: inline-block;
  height: 14px;
  width: 11px;
  padding-left: 3px;
  font-size: 70%;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 8px; }
.bytebeat .symbol {
  color: #990000; }

  .video {
    margin-top: 16px;
    margin-bottom: 5px;
  }

.revision {
  position: relative;
  font-size: 24px;
  color: white;
  font-weight: bold; }

.revision span {
  background: red;
  padding: 10px;
  position: absolute;
  display: block;
  text-align: center;
  top: -40px;
  right: 10px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);

}

.favicon {
  position: relative;
  margin-bottom: -6px; }

.ghost {
  opacity: 0.6;
  border-color: lightgray!important;
}

body {
font-family: Times New Roman;
background-color: gray;
}
h1, h2, h3, a:link, a:visited {
font-family: sans-serif;
}
#welcome-visitors h1 {
display: none;
}
img {
max-width: 100%;
}

